* {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px 50px;
}

.Persdetails {
    display: flex;
    justify-content: space-between;
}

.Persdetails p {
    margin: 0 10px 0 0;
}

.Persdetails p a {
    text-decoration: none;
    color: #000;
}

.about h2 {
    margin-bottom: 0;
}

.details {
    margin: 10px 0;
}

hr {
    border: 5px solid #1d1b1b;
    margin: 0;
    border-radius: 3px;
}

ul {
    list-style-position: inside;
}

ul ul {
    margin-left: 20px;
    list-style-type: disclosure-closed;
}

h1,
h2,
h3,
h4,
h5,
h5,
h6 {
    margin: 0;
    padding: 0;
}